# Environment variables
.env

# Docker Volumes Data
**/data/

# Grafana Data
grafana/data

# Prometheus Data
prometheus/data

# Loki Data
loki/data

# Promtail positions
promtail/positions/

# MinIO Data
minio/data/

# Logs
*.log
nginx/logs

# Temporary Files
*.tmp
*.swp
*~

# OS Files
.DS_Store
Thumbs.db

